[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/istiak-sekai-lab-bd
[access "refs/for/refs/*"]
	read = group user/istiak-sekai-lab-bd
	push = group user/istiak-sekai-lab-bd
	label-Code-Review = -2..+2 group user/istiak-sekai-lab-bd
	label-Verified = -1..+1 group user/istiak-sekai-lab-bd
	rebase = group user/istiak-sekai-lab-bd
	removeReviewer = group user/istiak-sekai-lab-bd
	submit = group user/istiak-sekai-lab-bd
[access "refs/heads/*"]
	read = group user/istiak-sekai-lab-bd
	create = group user/istiak-sekai-lab-bd
	push = +force group user/istiak-sekai-lab-bd
	pushMerge = group user/istiak-sekai-lab-bd
[access "refs/tags/*"]
	push = +force group user/istiak-sekai-lab-bd
	pushTag = group user/istiak-sekai-lab-bd
	pushSignedTag = group user/istiak-sekai-lab-bd
